<section id="about-us" class="about-us" tabindex="0">
  <section class="about-us__wrapper">
    <h2 class="about-us__heading">
      <span class="about-us__line">LiveMasqは</span>
      <span class="about-us__line">オークネットIBSが</span>
      <span class="about-us__line">運営しています</span>
    </h2>
    <section class="about-us__panel">
      <section class="about-us__pane about-us__pane--main">
        <ul class="about-us__list about-us__link--list">
          <li class="about-us__item about-us__item--link about-us__item--aucnet">
            <a
              class="about-us__link about-us__link--aucnet"
              href="https://www.aucnet.co.jp/">
              <picture class="about-us__picture about-us__picture--aucnet-logo">
                <source srcset="/images/aucnet-logo.webp" type="image/webp"/>
                <img
                  class="about-us__image about-us__image--aucnet-logo lazyload"
                  loading="lazy"
                  src="/images/aucnet-logo.png"
                  alt="オークネット"/>
              </picture>
            </a>
          </li>
          <li class="about-us__item about-us__item--aucnet-ibs">
            <a
              class="about-us__link about-us__link--aucnet-ibs"
              href="https://aucnet-ibs.com/">
              <picture
                class="about-us__picture about-us__picture--aucnet-ibs-logo">
                <source
                  srcset="/images/aucnet-ibs-logo.webp"
                  type="image/webp"/>
                <img
                  class="about-us__image
                    about-us__image--aucnet-ibs-logo
                    lazyload"
                  loading="lazy"
                  src="/images/aucnet-ibs-logo.png"
                  alt="オークネット・アイビーエス"/>
              </picture>
            </a>
          </li>
        </ul>
      </section>
    </section>
  </section>
</section>
