<section id="access" class="access" tabindex="0">
  <section class="access__wrapper">
    <section class="access__panel">
      <section class="access__pane access__pane--main">
        <iframe
          class="access__map"
          title="アクセス"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1974.5836718486!2d139.71730357069026!3d35.67097313278477!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c6f2f87d25d%3A0xd3649cc25e6dde24!2z5qCq5byP5Lya56S-44Kq44O844Kv44ON44OD44OI!5e0!3m2!1sja!2sjp!4v1564556218676!5m2!1sja!2sjp">
        </iframe>
      </section>
    </section>
  </section>
</section>
