<section id="call-to-action" class="call-to-action" tabindex="0">
  <section class="call-to-action__panel">
    <section class="call-to-action__pane call-to-cation__pane--main">
      <button
        id="inquiry-button"
        class="call-to-action__button call-to-action__button--inquiry"
        type="button"
        aria-expanded="false">
        お問い合わせ
      </button>
      <section class="call-to-action__tel">
        <section class="call-to-action__lead">
          お電話でのお問い合わせはこちら
        </section>
        <a
          class="call-to-action__link call-to-action__link--tel-number"
          href="tel:03-6440-2680">
          03-6440-2680
        </a>
      </section>
    </section>
  </section>
</section>
