<section id="faq" class="faq" tabindex="0">
  <section class="faq__wrapper">
    <h2 class="faq__heading">FAQ</h2>
    <section class="faq__panel">
      <section class="faq__pane faq__pane--main">
        <ul class="faq__list">
          <li class="faq__item">
            <p class="faq__question">
              <span class="faq__title">お悩み1</span>
              <span class="faq__description">
                知らない人が映り込んでしまった。特定の人だけ映したい
              </span>
            </p>
            <p class="faq__answer">
              <span class="faq__line">
                LiveMasqなら…映したい人物の顔を事前に「人物登録」機能で認証することにより、顔を映したくない人にはリアルタイムでモザイクをかけながら撮影できます。
              </span>
            </p>
          </li>
          <li class="faq__item">
            <p class="faq__question">
              <span class="faq__title">お悩み2</span>
              <span class="faq__description">
                契約は自社で行うが、サービスはクライアントに使ってもらいたい
              </span>
            </p>
            <p class="faq__answer">
              <span class="faq__line">
                LiveMasqなら…「チーム」機能を使うことで、LiveMasqの共同利用が可能です。操作方法は「チーム」に招待するボタンで招待メールを送付するだけ。
              </span>
              <span class="faq__line">
                LiveMasqへのサインアップはGoogle認証に対応しているので、スムーズに作業が行えます。
              </span>
            </p>
          </li>
          <li class="faq__item">
            <p class="faq__question">
              <span class="faq__title">お悩み3</span>
              <span class="faq__description">
                すでに撮影した動画にモザイクをかけたい
              </span>
            </p>
            <p class="faq__answer">
              <span class="faq__line">
                弊社の
                <a
                  class="faq__link faq__link--detail"
                  href="https://autopixelation.com">
                  Auto Pixelation
                </a>
                をぜひお試しください。
              </span>
              <span class="faq__line">
                <a
                  class="faq__link faq__link--detail"
                  href="https://autopixelation.com">
                  Auto Pixelation
                </a>
                とはWebブラウザーを使用して特定の人物の顔に簡単にモザイクをかけられるサービスです。
              </span>
            </p>
          </li>
        </ul>
      </section>
    </section>
  </section>
</section>
