<section id="flow" class="flow" tabindex="0">
  <section class="flow__wrapper">
    <h2 class="flow__heading">使用例</h2>
    <section class="flow__panel">
      <section class="flow__pane flow__pane--main">
        <section class="flow__list">
          <section class="flow__item flow__item--contract">
            <section class="flow__step flow__step--contract">
              01
            </section>
            <section class="flow__content">
              <section class="flow__title">LiveMasqのインストール</section>
              <section class="flow__description">
                まず初めにLiveMasqアプリをインストールします。
              </section>
            </section>
            <picture class="flow__picture flow__picture--icon">
              <img
                class="flow__image lazyload"
                loading="lazy"
                src="/images/install-livemasq-app.svg"
                alt=""/>
            </picture>
            <figure class="flow__figure flow__figure--livemasq-app">
              <picture class="flow__picture flow__picture--livemasq-app">
                <source srcset="/images/livemasq-app.webp" type="image/webp"/>
                <img
                  class="flow__image
                    flow__image--livemasq-app
                    lazyload"
                  loading="lazy"
                  src="/images/livemasq-app.png"
                  alt=""/>
              </picture>
              <figcaption class="flow__figcaption" aria-hidden="true">
                LiveMasq
              </figcaption>
            </figure>
          </section>
          <section class="flow__item flow__item--contract">
            <section class="flow__step flow__step--contract">
              02
            </section>
            <section class="flow__content">
              <section class="flow__title">オーナーとしてグループ作成</section>
              <section class="flow__description">
                グループのオーナーとして管理グループを作成し、ご契約プランを選択してください。
              </section>
            </section>
            <picture class="flow__picture flow__picture--icon">
              <img
                class="flow__image flow__image--icon lazyload"
                loading="lazy"
                src="/images/create-group.svg"
                alt=""/>
            </picture>
          </section>
          <section class="flow__item flow__item--school">
            <section class="flow__step flow__step--school">
              03
            </section>
            <section class="flow__content">
              <section class="flow__title">グループメンバー招待</section>
              <section class="flow__description">
                管理者権限を持っている人がグループメンバーを招待します。
              </section>
            </section>
            <picture class="flow__picture flow__picture--icon">
              <img
                class="flow__image flow__image--icon lazyload"
                loading="lazy"
                src="/images/invite-user.svg"
                alt=""/>
            </picture>
          </section>
          <section class="flow__item flow__item--school">
            <section class="flow__step flow__step--school">
              04
            </section>
            <section class="flow__content">
              <section class="flow__title">チームの作成</section>
              <section class="flow__description">
                管理者権限を持っている人がチームを作成し、チームの代表者を招待します。
              </section>
            </section>
            <picture class="flow__picture flow__picture--icon">
              <img
                class="flow__image flow__image--icon lazyload"
                loading="lazy"
                src="/images/create-team.svg"
                alt=""/>
            </picture>
          </section>
          <section class="flow__item flow__item--hospital">
            <section class="flow__step flow__step--hospital">
              05
            </section>
            <section class="flow__content">
              <section class="flow__title">チームメンバーの招待</section>
              <section class="flow__description">
                チームの代表者は、実際に使用する人をチームメンバーとして招待します。
              </section>
            </section>
            <picture class="flow__picture flow__picture--icon">
              <img
                class="flow__image flow__image--icon lazyload"
                loading="lazy"
                src="/images/invite-team-member.svg"
                alt=""/>
            </picture>
          </section>
          <section class="flow__item flow__item--hospital">
            <section class="flow__step flow__step--hospital">
              06
            </section>
            <section class="flow__content">
              <section class="flow__title">実際にLiveMasqを使用</section>
              <section class="flow__description">
                モザイクをかけない人物の画像を登録し、撮影します。
              </section>
            </section>
            <picture class="flow__picture flow__picture--icon">
              <img
                class="flow__image flow__image--icon lazyload"
                loading="lazy"
                src="/images/use-livemasq.svg"
                alt=""/>
            </picture>
          </section>
        </section>
      </section>
    </section>
  </section>
</section>
