<footer id="footer" class="footer" tabindex="-1">
  <section class="footer__wrapper">
    <section class="footer__wrapper footer__wrapper--main">
      <ul class="footer__list footer__list--contact">
        <li class="footer__item footer__item--contact footer__item--tel">
          <a
            class="footer__link footer__link--contact footer__link--tel"
            href="tel:03-6440-2680">
            電話：03-6440-2680
          </a>
        </li>
      </ul>
      <picture class="footer__picture footer__picture--aucnet-ibs-long-logo">
        <source srcset="/images/aucnet-ibs-long-logo.webp" type="image/webp"/>
        <img
          class="footer__image footer__image--aucnet-ibs-long-logo lazyload"
          loading="lazy"
          src="/images/aucnet-ibs-long-logo.png"
          alt="オークネット・アイビーエス"/>
      </picture>
      <section class="footer__copyright">
        &copy; 2015- AUCNET IBS INC.
      </section>
    </section>
    <section class="footer__wrapper footer__wrapper--site">
      <section class="footer__heading footer__heading--site">
        AUCNET GROUP
      </section>
      <p class="footer__lead footer__lead--site">
        <span class="footer__line">オークネットグループの</span>
        <span class="footer__line">サービスサイトに移動します</span>
      </p>
      <ul class="footer__list footer__list--service">
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">中古所関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">仕入・販売</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.aucneostation.com/">
                    オークネオステーションハイパー
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer__section">
              <h4 class="footer__title footer__title--section">小売支援</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.aucnet.jp/">
                    オークネット.jp
                  </a>
                </li>
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.absys.jp/Login">
                    オートバンクシステム
                  </a>
                </li>
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://warranty.aucnet.co.jp">
                    オークネット保証 (AFP)
                  </a>
                </li>
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.aucprotouch.tv/">
                    サテロク プレミアム
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">バイク車関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">仕入・販売</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.i-moto-auc.com/">
                    アイ・モト・オーク/モト・バザール
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">インターネット広告</h4>
                <ul class="footer__list footer__list--site">
                  <li class="footer__item footer__item--site">
                    <a
                      class="footer__link footer__link--site"
                      href="https://www.moto-auc.com/">
                        バイクの窓口
                    </a>
                  </li>
                </ul>
            </li>
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">レンタルバイク</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://rental.moto-auc.com/">
                      モトオークレンタル
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">配送サービス</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://transport.moto-auc.com/">
                      モトオーク陸送サービス
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">花き関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">仕入・販売</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.ba-net.jp/">
                      バネット
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">デジタル機器関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">仕入・販売</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://pc.aucmint.com/auction/login.php">
                    PCαAuction
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">ブランド品関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">仕入・販売</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.brand-auc.com/">
                      ブランドオークション
                    </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">医療機器関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">仕入・販売</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.aucnet-medical.com/">
                      オークネットメディカル
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">ITプラットフォーム提供サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">システム開発</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://aucnet-ibs.com/">
                      オークネット・アイビーエス
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="footer__item footer__item--service">
          <h3 class="footer__title footer__title--service">不動産関連サービス</h3>
          <ul class="footer__list footer__list--section">
            <li class="footer__item footer__item--section">
              <h4 class="footer__title footer__title--section">物件情報</h4>
              <ul class="footer__list footer__list--site">
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://www.tenantbook.jp/">
                      Tenant Book 不動産会社向け
                  </a>
                </li>
                <li class="footer__item footer__item--site">
                  <a
                    class="footer__link footer__link--site"
                    href="https://t.tenantbook.jp/">
                      Tenant Book 飲食店向け
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
  <button
    id="scroll-to-top-button"
    class="footer__button
      footer__button--scroll-to-top
      footer__button--animated-out"
    type="button"
    aria-label="上に戻る"
    tabindex="-1">
    &#8593;
  </button>
</footer>
