<section id="headline" class="headline" tabindex="0">
  <section class="headline__wrapper">
    <section class="headline__panel">
      <section class="headline__pane headline__pane--main">
        <h2 class="headline__heading">
          <span class="headline__word">
            <ruby class="headline__ruby">LiveMasq
              <rp class="headline__ruby-parenthesis">(</rp>
              <rt class="headline__ruby-text">ライブマスク</rt>
              <rp class="headline__ruby-parenthesis">)</rp>
            </ruby>
            は
          </span>
          <em class="headline__emphasis">リアルタイム</em>
          <span class="headline__word">にモザイク</span>
          <span class="headline__word">をかける</span>
          <span class="headline__word">ことが</span>
          <span class="headline__word">できる</span>
          <span class="headline__word">サービス</span>
          <span class="headline__word">です</span>
        </h2>
        <p class="headline__description">
          <span class="headline__word">撮影と同時に、</span>
          <span class="headline__word">特定の人</span>
          <span class="headline__word">以外に</span>
          <span class="headline__word">モザイクを</span>
          <span class="headline__word">かける</span>
          <span class="headline__word">ことで</span>
          <span class="headline__word">プライバシーを</span>
          <span class="headline__word">保護します。</span>
          <span class="headline__word">この機会に</span>
          <span class="headline__word">是非、</span>
          <span class="headline__word">最新の</span>
          <span class="headline__word">AIサービスを</span>
          <span class="headline__word">ご体験</span>
          <span class="headline__word">ください。</span>
        </p>
        <a
          class="headline__link headline__link--app-store-logo"
          href="https://apps.apple.com/app/id1542155530"
        >
          <picture class="headline__picture headline__picture--app-store-logo">
            <img
              class="headline__image headline__image--app-store-logo"
              src="/images/app-store-logo.svg"
              alt="LiveMasq iPhoneアプリのインストール"/>
          </picture>
        </a>
      </section>
      <section class="headline__pane headline__pane--side">
        <section class="headline__video-wrapper">
          <picture class="headline__picture headline__picture--app-preview">
            <source
              srcset="/images/app-preview.webp"
              type="image/webp"/>
            <img
              class="headline__image headline__image--app-preview"
              src="/images/app-preview.png"
              alt=""/>
          </picture>
        </section>
      </section>
    </section>
  </section>
  <picture class="headline__picture headline__picture--background">
    <img
      class="headline__image headline__image--background"
      src="/images/headline-background.svg"
      alt=""/>
  </picture>
</section>
