<header id="header" class="header" tabindex="0">
  <section class="header__wrapper">
    <a class="header__link header__link--logo" href="#headline">
      <picture class="header__picture header__picture--logo">
        <img
          class="header__image header__image--logo"
          src="/images/livemasq-logo.svg"
          alt="LiveMasq"/>
      </picture>
      <picture
        class="header__picture
          header__picture--logo
          header__picture--mobile">
        <img
          class="header__image
            header__image--logo
            header__image--mobile"
          src="/images/livemasq-mobile-logo.svg"
          alt="LiveMasq"/>
      </picture>
    </a>
    <nav id="drop-down-menu" class="header__navigation" aria-label="メニュー">
      <ul class="header__navigation-list" role="menubar" aria-label="メニュー">
        <li
          class="header__navigation-item header__navigation-item--how-to-use"
          role="none">
          <a
            class="header__link
              header__link--navigation
              header__link--how-to-use"
            href="#how-to-use"
            role="menuitem">
            使い方
          </a>
        </li>
        <li
          class="header__navigation-item header__navigation-item--faq"
          role="none">
          <a
            class="header__link header__link--navigation header__link--faq"
            href="#faq"
            role="menuitem">
            FAQ
          </a>
        </li>
        <li
          class="header__navigation-item header__navigation-item--flow"
          role="none">
          <a
            class="header__link header__link--navigation header__link--flow"
            href="#flow"
            role="menuitem">
            使用例
          </a>
        </li>
        <li
          class="header__navigation-item header__navigation-item--plan"
          role="none">
          <a
            class="header__link header__link--navigation header__link--plan"
            href="#plan"
            role="menuitem">
            料金表
          </a>
        </li>
        <li
          class="header__navigation-item header__navigation-item--news"
          role="none">
          <a
            class="header__link header__link--navigation header__link--news"
            href="#news"
            role="menuitem">
            お知らせ
          </a>
        </li>
        <li
          class="header__navigation-item header__navigation-item--install"
          role="none">
          <a
            class="header__link header__link--navigation header__link--install"
            href="#install"
            role="menuitem">
            使用方法
          </a>
        </li>
        <li
          class="header__navigation-item header__navigation-item--call-to-action"
          role="none">
          <a
            class="header__link
              header__link--navigation
              header__link--call-to-acition"
            href="#call-to-action"
            role="menuitem">
            お問い合わせ
          </a>
        </li>
      </ul>
    </nav>
    <a
      class="header__button header__button--sign-in"
      href="https://console.livemasq.com/"
    >
      サインイン
    </a>
    <a
      class="header__button header__button--start"
      href="https://console.livemasq.com/"
    >
      無料で始める
    </a>
    <button
      id="drop-down-menu-button"
      class="header__button header__button--drop-down-menu"
      type="button"
      aria-expanded="false">
    </button>
  </section>
</header>
