<section id="how-to-use" class="how-to-use" tabindex="0">
  <section class="how-to-use__wrapper">
    <h2 class="how-to-use__heading">使い方のSTEP</h2>
    <section class="how-to-use__panel">
      <section class="how-to-use__pane how-to-use__pane--main">
        <ul class="how-to-use__list">
          <li class="how-to-use__item">
            <section
              class="how-to-use__pane
                how-to-use__pane--step
                how-to-use__pane--main">
              <section class="how-to-use__step">STEP1</section>
              <h3 class="how-to-use__title">iOSアプリを起動</h3>
            </section>
            <section
              class="how-to-use__pane
                how-to-use__pane--step
                how-to-use__pane--side">
              <figure
                class="how-to-use__figure how-to-use__figure--livemasq-app">
                <picture class="how-to-use__picture">
                  <source srcset="/images/livemasq-app.webp" type="image/webp"/>
                  <img
                    class="how-to-use__image
                      how-to-use__image--livemasq-app
                      lazyload"
                    loading="lazy"
                    src="/images/livemasq-app.png"
                    alt=""/>
                </picture>
                <figcaption class="flow__figcaption" aria-hidden="true">
                  LiveMasq
                </figcaption>
              </figure>
              <picture
                class="how-to-use__picture
                  how-to-use__picture--launch-app
                  how-to-use__picture--step">
                <source srcset="/images/launch-app.webp" type="image/webp"/>
                <img
                  class="how-to-use__image
                    how-to-use__image--launch-app
                    lazyload"
                  loading="lazy"
                  src="/images/launch-app.jpg"
                  alt=""/>
              </picture>
            </section>
          </li>
          <li class="how-to-use__item">
            <section
              class="how-to-use__pane
                how-to-use__pane--step
                how-to-use__pane--main">
              <section class="how-to-use__step">STEP2</section>
              <h3 class="how-to-use__title">顔を出したい人を登録</h3>
            </section>
            <section
              class="how-to-use__pane
                how-to-use__pane--step
                how-to-use__pane--side">
              <picture
                class="how-to-use__picture
                  how-to-use__picture--select-faces-to-exclude
                  how-to-use__picture--step">
                <source
                  srcset="/images/select-faces-to-exclude.webp"
                  type="image/webp"/>
                <img
                  class="how-to-use__image how-to-use__image--select-faces-to-exclude
                  lazyload"
                  loading="lazy"
                  src="/images/select-faces-to-exclude.jpg"
                  alt=""/>
              </picture>
            </section>
          </li>
          <li class="how-to-use__item">
            <section
              class="how-to-use__pane
                how-to-use__pane--step
                how-to-use__pane--main">
              <section class="how-to-use__step">STEP3</section>
              <h3 class="how-to-use__title">撮影開始</h3>
            </section>
            <section
              class="how-to-use__pane
                how-to-use__pane--step
                how-to-use__pane--side">
              <picture
                class="how-to-use__picture
                  how-to-use__picture--start-shooting
                  how-to-use__picture--step">
                <source srcset="/images/start-shooting.webp" type="image/webp"/>
                <img
                  class="how-to-use__image
                    how-to-use__image--start-shooting
                    lazyload"
                  loading="lazy"
                  src="/images/start-shooting.jpg"
                  alt=""/>
              </picture>
            </section>
          </li>
        </ul>
      </section>
    </section>
  </section>
</section>
