<section id="install" class="install" tabindex="0">
  <section class="install__wrapper">
    <h2 class="install__heading">使用方法</h2>
    <section class="install__panel">
      <section class="install__pane install__pane--main">
        <section class="install__title">
          LiveMasqデモ版のご体験方法
        </section>
        <ol class="install__list">
          <li class="install__item">
            <a class="install__link" href="#">TestFlight</a>
            からアプリのダウンロードをお願いします
          </li>
          <li class="install__item">
            <a class="install__link" href="#">LiveMasq</a>
            デモ版アプリをインストールしてください
          </li>
        </ol>
      </section>
      <section class="install__pane install__pane--side">
        <picture class="install__picture install__picture--test-flight-app">
          <source srcset="/images/test-flight-app.webp" type="image/webp"/>
          <img
            class="install__image install__image--test-flight-app lazyload"
            loading="lazy"
            src="/images/test-flight-app.png"
            alt=""/>
        </picture>
        <picture
          class="install__picture
            install__picture--test-flight-app-preview
            lazyload">
          <source
            srcset="/images/test-flight-app-preview.webp"
            type="image/webp"/>
          <img
            class="install__image install__image--test-flight-app-preview"
            loading="lazy"
            src="/images/test-flight-app-preview.jpg"
            alt=""/>
        </picture>
      </section>
    </section>
  </section>
</section>
