<section id="plan" class="plan" tabindex="0">
  <section class="plan__wrapper">
    <h2 class="plan__heading">料金表</h2>
    <section class="plan__panel">
      <section class="plan__pane plan__pane--main">
        <ul class="plan__list">
          <li class="plan__item plan__item--header">
            <h3 class="plan__title plan__title--header">
              <picture
              class="plan__picture plan__picture--logo">
              <img
                class="plan__image plan__image--logo"
                src="/images/livemasq-logo-black.svg"
                alt="LiveMasq"/>
            </picture>
            </h3>
            <section class="plan__description">
              <ul class="plan__support-list">
                <li class="plan__support-item
                  plan__support-item--header
                  plan__support-item--category">
                  <span class="plan__category-name plan__category-name--header">
                    お支払い
                  </span>
                </li>
                <li class="plan__support-item plan__support-item--header">
                  請求書払い
                </li>
                <li class="plan__support-item
                  plan__support-item--header
                  plan__support-item--category">
                  <span class="plan__category-name plan__category-name--header">
                    LiveMasqモザイク機能
                  </span>
                </li>
                <li class="plan__support-item plan__support-item--header">
                  リアルタイムモザイク
                </li>
                <li class="plan__support-item plan__support-item--header">
                  撮影済み画像・動画へ自動モザイク
                </li>
                <li class="plan__support-item plan__support-item--header">
                  全ての人に自動モザイク
                </li>
                <li class="plan__support-item plan__support-item--header">
                  特定の人以外に自動モザイク
                </li>
                <li class="plan__support-item plan__support-item--header">
                  マスク姿へ自動モザイク
                </li>
                <li class="plan__support-item
                  plan__support-item--header
                  plan__support-item--category">
                  <span class="plan__category-name plan__category-name--header">
                    管理機能
                  </span>
                </li>
                <li class="plan__support-item plan__support-item--header">
                  グループメンバー数
                </li>
                <li class="plan__support-item plan__support-item--header">
                  チーム数
                </li>
                <li class="plan__support-item plan__support-item--header">
                  チームメンバー数（1チーム毎）
                </li>
              </ul>
            </section>
          </li>
          <li class="plan__item">
            <h3 class="plan__title">
              <span class="plan__name">
                トライアル
              </span>
              <span class="plan__note">
                30日間限定
              </span>
              <span class="plan__price plan__price--monthly">
                月額
                <span class="plan__price-value plan__price-value--monthly">
                  0
                </span>
                円（税込）
              </span>
              <span class="plan__price plan__price--yearly">
              </span>
              <a id="start-trial-button"
                class="plan__button plan__button--start-trial"
                href="">
                今すぐ始める
              </a>
            </h3>
            <section class="plan__description">
              <ul class="plan__support-list">
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">お支払い</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    請求書払い
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__unsupported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">LiveMasqモザイク機能</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    リアルタイムモザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    撮影済み画像・動画へ自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    全ての人に自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    特定の人に自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    マスク姿へ自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">管理機能</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    グループメンバー数
                  </span>
                  <span class="plan__support-item-value">
                    最大5人
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    チーム数
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__unsupported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    チームメンバー数（1チーム毎）
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__unsupported-icon"></span>
                  </span>
                </li>
              </ul>
            </section>
          </li>
          <li class="plan__item">
            <h3 class="plan__title">
              <span class="plan__name">
                スタンダード
              </span>
              <span class="plan__note">
                <span>スタートキャンペーン</span>
                <span>価格適応中</span>
              </span>
              <span class="plan__price plan__price--monthly">
                月額
                <span class="plan__price-value plan__price-value--monthly">
                  22,000
                </span>
                円（税込）
              </span>
              <span class="plan__price plan__price--yearly">
                年額（一括払い）
                <span class="plan__price-value plan__price-value--yearly">
                  198,000
                </span>
                円（税込）
              </span>
            </h3>
            <section class="plan__description">
              <ul class="plan__support-list">
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">お支払い</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    請求書払い
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">LiveMasqモザイク機能</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    リアルタイムモザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    撮影済み画像・動画へ自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    全ての人に自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    特定の人に自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    マスク姿へ自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name"><span class="plan__category-name">管理機能</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    グループメンバー数
                  </span>
                  <span class="plan__support-item-value">
                    最大5人
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    チーム数
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__unsupported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    チームメンバー数（1チーム毎）
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__unsupported-icon"></span>
                  </span>
                </li>
              </ul>
            </section>
          </li>
          <li class="plan__item">
            <h3 class="plan__title">
              <span class="plan__name">
                エンタープライズ
              </span>
              <span class="plan__note"></span>
              <span class="plan__price">
                お問い合わせ
              </span>
              <a class="plan__button plan__button--inquiry" href="#call-to-action">
                お問い合わせ
              </a>
            </h3>
            <section class="plan__description">
              <ul class="plan__support-list">
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">お支払い</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    請求書払い
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">LiveMasqモザイク機能</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    リアルタイムモザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    撮影済み画像・動画へ自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    全ての人に自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    特定の人に自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    マスク姿へ自動モザイク
                  </span>
                  <span class="plan__support-item-value">
                    <span class="plan__supported-icon"></span>
                  </span>
                </li>
                <li class="plan__support-item
                  plan__support-item--category">
                  <span class="plan__category-name">管理機能</span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    グループメンバー数
                  </span>
                  <span class="plan__support-item-value">
                    最大20人
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    チーム数
                  </span>
                  <span class="plan__support-item-value">
                    最大10チーム
                  </span>
                </li>
                <li class="plan__support-item">
                  <span class="plan__support-item-key">
                    チームメンバー数（1チーム毎）
                  </span>
                  <span class="plan__support-item-value">
                    最大10人
                  </span>
                </li>
              </ul>
            </section>
          </li>
        </ul>
      </section>
      <section class="plan__pane plan__pane--side">
        <span class="plan__plan-list-note">
          30日間のトライアルプラン（無料期間）終了後、機能が制限されます。
        </span>
        <span class="plan__plan-list-note">
          トライアルプラン終了後、有償プランを申し込むことで、引き続きご利用いただけます。
        </span>
      </section>
    </section>
  </section>
</section>
