<section id="service" class="service" tabindex="0">
  <section class="service__wrapper">
    <h2 class="service__heading">
      <em class="service__emphasis">LiveMasq</em>とは
    </h2>
    <section class="service__panel">
      <section class="service__pane service__pane--main">
        <p class="service__description">
          <span class="service__word">LiveMasqは、</span>
          <span class="service__word">iPhoneを用いた</span>
          <span class="service__word">動画撮影時に</span>
          <span class="service__word">リアルタイムで</span>
          <span class="service__word">特定の人以外に</span>
          <span class="service__word">モザイクを</span>
          <span class="service__word">自動でかける</span>
          <span class="service__word">サービスです。</span>
          <span class="service__word">簡単な操作で</span>
          <span class="service__word">誰でも</span>
          <span class="service__word">リアルタイムに</span>
          <span class="service__word">モザイクをかける</span>
          <span class="service__word">ことができます。</span>
          <span class="service__word">詳しくは、</span>
          <span class="service__word">使い方のステップを</span>
          <span class="service__word">ご確認ください。</span>
        </p>
        <section class="service__note">
          <ul class="service__link-list">
            <li class="service__link-item">
                <a class="service__link" href="https://aucnet-ibs.zendesk.com/hc/ja/articles/900005080063-サービス利用規約">
                  サービス利用規約
                </a>
            </li>
            <li class="service__link-item">
                <a class="service__link" href="https://aucnet-ibs.zendesk.com/hc/ja/articles/900003899966-LiveMasq特定商取引法に基づく表記">
                  LiveMasq特定商取引法に基づく表記
                </a>
            </li>
            <li class="service__link-item">
              <a class="service__link" href="https://aucnet-ibs.zendesk.com/hc/ja/articles/900005158483-対応機種一覧">
                対応機種一覧
              </a>
          </li>
          <li class="service__link-item">
            <a class="service__link" href="https://aucnet-ibs.zendesk.com/hc/ja/articles/900004134786-個人情報保護方針-プライバシーポリシー">
              個人情報保護方針(プライバシーポリシー)
            </a>
        </li>
          </ul>
        </section>
      </section>
    </section>
  </section>
</section>
